/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#photo-grids {
  margin: 0 auto;
  width: 100%;
  .box {
	  // margin: 1px;
    margin-top: 1px;
    box-sizing: border-box;
    margin-bottom: 1px;
    width: 33%;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	}
}

.navbar-default {
  border-bottom-color: #777;
}

body { padding-top: 49px; }

.photo-grid-container {
  padding: 1px;
}

.map-container {
  margin-top: 2px;
  padding: 0;
  position: fixed;
  #map {
    width: 100%;
    height: 100vh;
  }
}
